.chat__square {
  background-color: rgba(246, 234, 226, 1);
  height: 450px;
  border: 1px solid rgb(245, 201, 174);
}

.chat__winner-pic {
  max-width: 300px;
}

.chat__form {
  display: flex;
}

.chat__input {
  flex-grow: 1;
  font-size: 16px;
}
