<<<<<<< Updated upstream
h2 {
  text-align: center;
}
=======
>>>>>>> Stashed changes
.form input {
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
input.auction-input__input--error {
  border-color: rgb(147, 47, 47);
}
.auction-input__error {
  color: rgb(147, 47, 47);
}
.upload-field__polozka img {
  width: 100px;
}
.form__zakladatel {
  font-weight: bold;
  font-size: 17px;
  grid-column: 1 / -1;
}
.form__aukce {
  font-weight: bold;
  font-size: 17px;
  grid-column: 1 / -1;
}
.form__jmeno-label {
  grid-column: 1 / span 1;
}

.form__jmeno-input {
  grid-column: 2 / span 2;
}
.form__prijmeni-label {
  grid-column: 1 / span 1;
}
.form__prijmeni-input {
  grid-column: 2 / span 2;
}
.form__nazev-input {
  grid-column: 2 / span 2;
}
.form__predmet-label {
  grid-column: 1 / 1;
}
.form__predmet-upload {
  grid-column: 2 / span 3;
}
.form__popis-label {
  grid-column: 1 / span 1;
}
.form__popis-input {
  grid-column: 2 / span 3;
}
.form__problem-input {
  grid-column: 2 / span 3;
}
.form__posudek-upload {
  grid-column: 2 / span 3;
}
#jmeno,
#prijmeni,
#nazev,
#cena {
  height: 30px;
  border: 1px solid rgb(237, 223, 148);
  background-color: rgb(237, 223, 148);
  text-transform: uppercase;
}

#popis,
#problem,
#pouziti {
  height: 100px;
  border: 1px solid rgb(237, 223, 148);
  background-color: rgb(237, 223, 148);
}
.form__fotky-problemu-upload {
  grid-column: 2 / span 3;
}
.form__pouziti-label {
  grid-column: 1 / span 1;
}
.form__pouziti-input {
  grid-column: 2 / span 3;
}
.form__timer-label {
  grid-column: 1 / span 1;
}
.form__souhlas-label {
  font-size: 13px;
  grid-column: 2 / span 2;
}
.home__btn {
  grid-column: 4 / span 1;
}

.form__timer-picker {
  grid-column: 2 / span 3;
}

@media (max-width: 500px) {
  .main__form {
    /* display: flex; */
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    /* flex-direction: column; */
  }
}
