.heading__site-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading__share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(235, 234, 234, 0.974);
  border-radius: 6px;
  font-family: 'Mukta';
  font-size: 16px;
  width: 6.2rem;
  background-color: white;
}

.heading__share-btn:hover {
  border: 1px solid rgb(194, 194, 194);
}

.heading__share-icon {
  padding-right: 4px;
}
.heading__timekeeper {
  text-align: center;
}
.heading__copy2Clip {
  font-style: italic;
  font-size: 13px;
}

@media (max-width: 700px) {
  .heading__site-share {
    flex-wrap: wrap;
    justify-content: center;
  }
  .heading__site-title {
    font-size: 21px;
  }
}
