.amount__bid-btn {
  width: 6.2rem;
  font-family: 'Mukta';
  border: 1px solid rgb(237, 223, 148);
  font-size: 16px;
  border-radius: 6px;
  background: rgb(237, 223, 148);
}
.amount__bid-btn:hover {
  border: 1px solid rgb(195, 191, 177);
}

.amount__pplbidding-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.amount__bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.amount__ppl-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.amount__price-container {
  gap: 20px;
}
.amount__price-thingie {
  display: flex;
  gap: 10px;
}

.amount__price-label {
  width: 100px;
}

#slider {
  accent-color: rgb(234, 215, 108);
}

@media (min-width: 600px) {
  .amount__ppl-stats {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .amount__price-container {
    display: flex;
  }
}
