.amount__bid-btn {
  width: 6.2rem;
  font-family: 'Mukta';
  border: none;
  font-size: medium;
  border-radius: 5rem;
  background: rgba(242, 197, 35, 0.928);
  box-shadow: 2px 4px 5px 0px rgba(115, 115, 115, 0.23);
  -webkit-box-shadow: 2px 4px 5px 0px rgba(115, 115, 115, 0.23);
  -moz-box-shadow: 2px 4px 5px 0px rgba(115, 115, 115, 0.23);
}
.amount__pplwatching-container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.amount__pplbidding-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.amount__bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.amount__ppl-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.amount__price-container {
  gap: 20px;
}
@media (min-width: 600px) {
  .amount__ppl-stats {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .amount__price-container {
    display: flex;
  }
}
