.auction__container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .auction__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
  }
  .auction__subcontainer-heading {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .auction__container {
    gap: 60px;
  }
}

.auction__subcontainer {
  display: grid;
}
