.pic__home {
  max-width: 480px;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem;
  font-size: 1.1rem;
}

.home__text {
  margin-left: 1.2rem;
  margin-right: 1rem;
  text-align: left;
}

.home__btn {
  margin: 2rem 0;
  width: 13rem;
  height: 3rem;
  float: inline-start;
  font-size: 1.1rem;
  font-family: 'Mukta';
  border: 1px solid rgb(237, 223, 148);
  font-size: 16px;
  border-radius: 6px;
  background: rgb(237, 223, 148);
}

.home__btn:hover {
  border: 1px solid rgb(195, 191, 177);
}
