@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Ms+Madi&display=swap');

header {
  text-align: center;

  margin: 1rem;
}
.header__site-title {
  font-family: 'Ms Madi', cursive;
  font-size: 4rem;
}

.header__site-title a,
.header__site-title a:active,
.header__site-title a:visited {
  color: rgb(26, 24, 24);
  text-decoration: none;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__user {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 13px;
  gap: 7px;
}
.header__user-btn {
  width: 4rem;
  font-family: 'Mukta';
  border: none;
  font-size: 13px;
  background-color: white;
  text-decoration: underline;
}
.header__user-btn:hover {
  text-decoration: none;
}

@media (max-width: 500px) {
  .header__container {
    flex-direction: column;
  }
}
