.login__google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  font-family: 'Mukta';
  border: 1px solid rgba(235, 234, 234, 0.974);
  font-size: 15px;
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
.login__google-btn:hover {
  border: 1px solid rgb(198, 207, 203);
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 11px 4px #ececec;
  gap: 70px;
  padding: 40px 70px 60px 70px;
  width: fit-content;
  border-radius: 10px;
}
.login__flex {
  display: flex;
  justify-content: center;
}

.login__google-icon {
  margin-right: 5px;
  overflow: auto;
}
