@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;500&family=Mukta:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  max-width: 100wh;
}
@media (min-width: 850px) {
  body {
    margin: 3rem 8rem 3rem 8rem;
  }
}
